<!DOCTYPE html>
<html lang="en">
{% load bootstrap5 %} {% bootstrap_css %} {% load socialaccount %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
              {% if request.user.uniqueuser.is_authenticate %}
              <a class="nav-link" href="{% url 'viewschedule' %}">Schedule</a>
              {% else %}
              <a class="nav-link" href="{% provider_login_url 'google' %}">Schedule</a>
              {% endif %}
          </li>
          <li class="nav-item">
              {% if request.user.uniqueuser.is_authenticate %}
              <a class="nav-link" href="{% url 'friendlist' %}">Friends List</a>
              {% else %}
              <a class="nav-link" href="{% provider_login_url 'google' %}">Friends List</a>
              {% endif %}
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'search' %}">Search!</a>
          </li>
      </ul>
  </div>
  <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="">Lou's List</a>
</div>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ms-auto">
          {% if request.user.uniqueuser.is_authenticate %}
          <p class="text-light bg-dark">You are logged in as: {{ user.uniqueuser.userName }} &nbsp &nbsp</p>
          <li class="nav-item">
              <a class="nav-link" href="logout">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% provider_login_url 'google' %}">Login With Google</a>
          </li>
          {% endif %}
      </ul>
  </div>
</nav>
<body>
<h1>Review left by {{ review.user_name }}</h1>
<h4>Overall Rating: {{ review.overall_rating }}/10</h4>
<h4>Difficulty Rating {{ review.difficulty_rating }}/10</h4>
<h4>{{ review.review_title }}</h4>
{{ review.review_text }}
</body>
</html>